*{
    box-sizing: border-box;
   }
   body {
       font-family: Poppins;
   }
   
   
    /* texColor style in common use  */
   
   .titleText {
       font-size:30px;
       letter-spacing: 5px;
       color: #000000;
   }
   .paragraph {
      font-size: 16px;
      line-height: 25px;
   }

/* make agrid in main div  */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    margin: 0 auto;
    grid-template-areas:  
    " . header header  ."
    " . mainPageLeft  mainPageRight ."
    " . footer  footer ."
    
    ;      
}

@media only screen and (max-width:1200px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 6fr 4fr 1fr;
        grid-auto-rows: minmax(100px,auto);
        margin: 0 auto;
        grid-template-areas:  
        " . header header  ."
        " . mainPageLeft  mainPageLeft ."
        " . mainPageRight  mainPageRight ."
        " . footer  footer ."    
        ;      
    }
}

/* Main Content Page Left Side Start Here */
.mainPageLeft {
    grid-area:mainPageLeft ;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between ;
    
}
/* Main Content Page Left Side Mobile Design */
@media only screen and (max-width:900px){
    .mainPageLeft {
      justify-content: center;
      text-align: center;
        
    }
}
/* Main Content Page Right Side Start Here */
.mainPageRight {
    grid-area:mainPageRight ;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between ;
}
/* give all section inside grid-container padding  */
.grid-container> section {
    padding-top: 50px;
}
@media only screen and (max-width:900px){
    .grid-container> section {
        padding-top:50px;   
    }   
}


#header {
    border-bottom :1px solid #ccc;
    padding-bottom: 30px !important;
}

/* Main Page Start here */

.contentStatics{
    display: flex;
    justify-content: flex-start;
   
}


@media only screen and (max-width:900px){
    .contentStatics{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
}
.contentStaticsItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    text-align: center;
    position: relative;
   
}
.contentStaticsItem {
    padding-top:20px;
}
.contentStatics .contentStaticsItem:nth-child(1) {
   
    padding-right: 25px;
    padding-left:0px;
}

.contentStaticsItem p,h1{
    padding:5px;
    margin:5px;
}


/* Content Start  here */
.content {
    flex: 1 1 100%;
    padding-top: 50px;
   
}

.content img {
   width:100%;
   height: 100%;
}
/* MAin Page Right Side */ 
.mainPageRight {
    
    display: flex;
    justify-content: center;

}
/* Main Page Right  Profile Card */ 
.innerPostCard {
     flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;   
}

 .postCard {
    padding: 20px 100px 0px 100px;
 }

/* Main Page Right  Profile Card Mobile version */
@media only screen and (max-width:1400px){
    .innerPostCard {   
         display: initial;
         text-align: center;   
    }
}
.socialNetwork{
    padding-top: 70px;
}
.recentPost {
    flex: 1 1 100%;
    padding: 20px 100px 0px 100px;
}

.recentPostHeader{
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.recentPostHeader hr {
    margin:  20px;
}
.recentPostCard {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recentPostCard img {
    margin-right:10px;
}
@media only screen and (max-width:1400px){

    .recentPostCard {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/* Content Menu Start*/
.contentMenulist {
    display: flex;
    flex-wrap: wrap;
}
.contentMenulist input{
    text-align: center;
   margin:10px;
   margin-top: 20px;
   width:150px;
}
/* Content Menu Mobile Version*/
@media only screen and (max-width:1400px){
    .contentMenulist  {
        justify-content: center;
        align-items: center;
    }
   
}
/*Form Start Here*/
.form {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.form  form{
    border:  1px solid #ccc;
    width:100%;
    padding:20px;
    display: flex;
     flex-wrap: wrap;
   

}
/*Form Input*/
.form input {
     flex: 1 1 47%;
    margin:10px;
    padding:20px;
    border:1px solid #ccc;
    font-family: Poppins;
    
}
/*Form TextEra*/
.textarea {
    flex: 1 1 100%;
    margin:10px;
    border:1px solid #ccc;
    font-family: Poppins;
}
/*Form Button*/
.btnForm{  
    background-color: #44c0fe;
    border:none;
    color: white;
    padding: 20px 40px 20px 40px;
    margin: 10px;
    font-family: Poppins;
}
/*Categories Section*/
.categories {
    flex: 1 1 100%;
    padding: 20px 100px 0px 100px;
}

.categoriesHeader {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.categoriesHeader  hr {
    width:100%;
    margin:  20px;
}
.categoriesList {
    list-style: none;
    margin:0px;
    padding:0px;
}
.categoriesListItem {
    width: 100%;
    padding: 20px 20px 20px 0px;
    border-bottom: 1px solid #ccc;
   
}
.categoriesListItem input {
    margin:5px;
   
}
/*Footer Section*/
#footer {
    display: grid;
    grid-template-columns:  12fr ;
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas:
        " share  "
        "footerMenu";
}
